Repository AlexanderDokuchaev/nncf, changes with the owners that CODEOWNERS names for each.
All owners: @openvinotoolkit/nncf-maintainers, @openvinotoolkit/openvino-admins, @openvinotoolkit/openvino-configuration-mgmt

CODEOWNERS:

*  @openvinotoolkit/nncf-maintainers

CODEOWNERS  @openvinotoolkit/openvino-admins

# Control 3d party dependencies
requirements.txt  @openvinotoolkit/openvino-configuration-mgmt
**/setup.py  @openvinotoolkit/openvino-configuration-mgmt

bench
  benchmark_tensor/ad_tensor.log
  benchmark_tensor/ad_tensor.prof
  benchmark_tensor/ad_tensor.py
  benchmark_tensor/native.log
  benchmark_tensor/native.prof
  benchmark_tensor/native.py
  benchmark_tensor/vs_tensor.log
  benchmark_tensor/vs_tensor.prof
  benchmark_tensor/vs_tensor.py
  benchmark_tensor/vs_tensor_fix.log
  benchmark_tensor/vs_tensor_fix.prof
  benchmark_tensor/vs_tensor_fix.py
  nncf/common/tensor.py
  nncf/common/tensor_impl_np.py
  nncf/experimental/tensor/functions.py
  nncf/experimental/tensor/numpy_functions.py
Owners: @openvinotoolkit/nncf-maintainers

xfail 119128
  tests/torch/test_sanity_sample.py
Owners: @openvinotoolkit/nncf-maintainers

fix examples
  examples/post_training_quantization/torch/mobilenet_v2/main.py
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/main.py
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  nncf/torch/engine.py
  nncf/torch/quantization/quantize_model.py
  tests/cross_fw/examples/example_scope.json
  tests/cross_fw/examples/test_examples.py
  tests/torch/test_transform_fn.py
Owners: @openvinotoolkit/nncf-maintainers, @openvinotoolkit/openvino-configuration-mgmt

model-hub tests
  .github/workflows/model_hub.yml
  Makefile
  tests/torch/models_hub_test/__init__.py
  tests/torch/models_hub_test/common.py
  tests/torch/models_hub_test/hf_transformers_models.txt
  tests/torch/models_hub_test/requirements.txt
  tests/torch/models_hub_test/requirements_secondary.txt
  tests/torch/models_hub_test/test_hf_transformers.py
  tests/torch/models_hub_test/test_speech_transformer.py
  tests/torch/models_hub_test/test_timm.py
  tests/torch/models_hub_test/test_torchvision_models.py
  tests/torch/models_hub_test/torchvision_models.txt
  tests/torch/pytest.ini
Owners: @openvinotoolkit/nncf-maintainers, @openvinotoolkit/openvino-configuration-mgmt

Remove experimental examples
  examples/experimental/__init__.py
  examples/experimental/openvino/bert/main.py
  examples/experimental/openvino/bert/requirements.txt
  examples/experimental/openvino/ssd_mobilenet_v1_fpn/main.py
  examples/experimental/openvino/yolo_v5/main.py
  examples/experimental/openvino/yolo_v5/requirements.txt
  examples/experimental/torch/__init__.py
  examples/experimental/torch/classification/Quickstart.md
  examples/experimental/torch/classification/__init__.py
  examples/experimental/torch/classification/bootstrap_nas.py
  examples/experimental/torch/classification/bootstrap_nas_search.py
  examples/experimental/torch/classification/bootstrapnas_examples/config.json
Owners: @openvinotoolkit/nncf-maintainers, @openvinotoolkit/openvino-configuration-mgmt

t
  tests/torch/models_hub_test/common.py
  tests/torch/models_hub_test/test_hf_transformers.py
  tests/torch/models_hub_test/test_timm.py
Owners: @openvinotoolkit/nncf-maintainers

update refs for specific ov version
  tests/post_training/data/wc_reference_data_2024.3.yaml
  tests/post_training/test_quantize_conformance.py
Owners: @openvinotoolkit/nncf-maintainers

pydot!=3.0.0
  setup.py
  tests/common/data/reference_graphs/dot_rw_reference.dot
Owners: @openvinotoolkit/openvino-configuration-mgmt, @openvinotoolkit/nncf-maintainers

test
  CONTRIBUTING.md
Owners: @openvinotoolkit/nncf-maintainers

test
  CONTRIBUTING.md
Owners: @openvinotoolkit/nncf-maintainers

t
  .github/workflows/api_changes_check.yml
  .github/workflows/api_set_label.yml
Owners: @openvinotoolkit/nncf-maintainers

test
  nncf/api/compression.py
Owners: @openvinotoolkit/nncf-maintainers

t
  .github/workflows/api_set_label.yml
Owners: @openvinotoolkit/nncf-maintainers

t
  .github/workflows/api_set_label.yml
Owners: @openvinotoolkit/nncf-maintainers

init
  nncf/experimental/torch/hook_executor_mode/__init__.py
  nncf/experimental/torch/hook_executor_mode/build_graph_mode.py
  nncf/experimental/torch/hook_executor_mode/graph_utils.py
  nncf/experimental/torch/hook_executor_mode/hook_executor_mode.py
  nncf/experimental/torch/hook_executor_mode/hook_storage.py
  nncf/experimental/torch/hook_executor_mode/operation_name.py
  nncf/experimental/torch/hook_executor_mode/weak_map.py
  nncf/experimental/torch/hook_executor_mode/wrapper.py
  tests/torch/experimental/hook_executor_mode/helpers.py
  tests/torch/experimental/hook_executor_mode/test_build_graph.py
  tests/torch/experimental/hook_executor_mode/test_hooks_storage.py
  tests/torch/experimental/hook_executor_mode/test_operation_name.py
  tests/torch/experimental/hook_executor_mode/test_train.py
  tests/torch/experimental/hook_executor_mode/test_weak_map.py
  tests/torch/experimental/hook_executor_mode/test_wrapper.py
Owners: @openvinotoolkit/nncf-maintainers

test
  nncf/common/factory.py
  nncf/common/graph/graph.py
  nncf/common/insertion_point_graph.py
  nncf/experimental/torch/hook_executor_mode/__init__.py
  nncf/experimental/torch/hook_executor_mode/build_graph_mode.py
  nncf/experimental/torch/hook_executor_mode/graph_utils.py
  nncf/experimental/torch/hook_executor_mode/hook_executor_mode.py
  nncf/experimental/torch/hook_executor_mode/hook_storage.py
  nncf/experimental/torch/hook_executor_mode/model_transformer.py
  nncf/experimental/torch/hook_executor_mode/nncf_graph_builder.py
  nncf/experimental/torch/hook_executor_mode/statistics/aggregator.py
  nncf/experimental/torch/hook_executor_mode/wrapper copy.py
  nncf/experimental/torch/hook_executor_mode/wrapper_forward.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/algorithms/pipeline.py
  nncf/torch/__init__.py
  nncf/torch/quantization/quantize_functions.py
  nncf/torch/quantization/quantize_model.py
  tests/post_training/test_quantize_conformance.py
Owners: @openvinotoolkit/nncf-maintainers

t
  .github/workflows/examples.yml
Owners: @openvinotoolkit/nncf-maintainers

t2
  .github/workflows/examples.yml
Owners: @openvinotoolkit/nncf-maintainers

assert
  tests/cross_fw/examples/test_examples.py
Owners: @openvinotoolkit/nncf-maintainers

name
  .github/workflows/api_set_label.yml
Owners: @openvinotoolkit/nncf-maintainers

-
  .github/workflows/api_set_label.yml
Owners: @openvinotoolkit/nncf-maintainers

test
  .github/workflows/api_set_label_.yml
Owners: @openvinotoolkit/nncf-maintainers

t
  .github/workflows/test_label.yml
Owners: @openvinotoolkit/nncf-maintainers

t
  .github/workflows/test_label.yml
Owners: @openvinotoolkit/nncf-maintainers

t
  .github/workflows/test_label.yml
Owners: @openvinotoolkit/nncf-maintainers

t
  .github/workflows/test_label.yml
Owners: @openvinotoolkit/nncf-maintainers

Add port ids to reference
  tests/torch2/data/function_hook/nncf_graph/convert_to_nncf_graph.dot
  tests/torch2/data/function_hook/nncf_graph/convert_to_nncf_graph_multi_edges.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_convnext_small.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_densenet121.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_efficientnet_b0.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_inception_v3.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_mobilenet_v2.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_mobilenet_v3_small.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_resnet18.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_resnext50_32x4d.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_shufflenet_v2_x0_5.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_squeezenet1_0.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_swin_v2_b.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_vgg16.dot
  tests/torch2/data/quantization/test_quantized_graphs/alexnet.dot
  tests/torch2/data/quantization/test_quantized_graphs/densenet121.dot
  tests/torch2/data/quantization/test_quantized_graphs/embedding_model.dot
  tests/torch2/data/quantization/test_quantized_graphs/inception.dot
  tests/torch2/data/quantization/test_quantized_graphs/inception_v3.dot
  tests/torch2/data/quantization/test_quantized_graphs/lenet.dot
  tests/torch2/data/quantization/test_quantized_graphs/mobilenet_v2.dot
  tests/torch2/data/quantization/test_quantized_graphs/mobilenet_v3_small.dot
  tests/torch2/data/quantization/test_quantized_graphs/resnet18.dot
  tests/torch2/data/quantization/test_quantized_graphs/rope_model.dot
  tests/torch2/data/quantization/test_quantized_graphs/scaled_dot_product_attention_model.dot
  tests/torch2/data/quantization/test_quantized_graphs/shared_model.dot
  tests/torch2/data/quantization/test_quantized_graphs/shufflenetv2.dot
  tests/torch2/data/quantization/test_quantized_graphs/squeezenet1_1.dot
  tests/torch2/data/quantization/test_quantized_graphs/unet.dot
  tests/torch2/data/quantization/test_quantized_graphs/vgg16.dot
  tests/torch2/function_hook/nncf_graph/test_nncf_graph.py
  tests/torch2/function_hook/quantization/test_quantized_graphs.py
  tests/torch2/utils.py
Owners: @openvinotoolkit/nncf-maintainers

dependabot
  .github/dependabot.yml
Owners: @openvinotoolkit/nncf-maintainers

test
  .github/dependabot.yml
Owners: @openvinotoolkit/nncf-maintainers

test
  .github/dependabot.yml
Owners: @openvinotoolkit/nncf-maintainers

test
  .github/dependabot.yml
Owners: @openvinotoolkit/nncf-maintainers

test
  .github/dependabot.yml
Owners: @openvinotoolkit/nncf-maintainers

Fix DeprecationWarning: invalid escape sequence '\ ' in docstrings (#3282)
  nncf/openvino/graph/model_builder.py
Owners: @openvinotoolkit/nncf-maintainers

Bump runners to ubuntu-latest (#3283)
  .github/workflows/api_changes_check.yml
  .github/workflows/build_and_publish_doc.yml
  .github/workflows/build_html_doc.yml
  .github/workflows/build_schema_page.yml
  .github/workflows/call_precommit.yml
  .github/workflows/conformance_weight_compression.yml
  .github/workflows/examples.yml
  .github/workflows/install.yml
  .github/workflows/labeler.yml
  .github/workflows/model_hub.yml
  .github/workflows/mypy.yml
  .github/workflows/nightly.yml
  .github/workflows/pre-commit-linters.yml
  .github/workflows/python-publish.yml
  .github/workflows/sdl.yml
Owners: @openvinotoolkit/nncf-maintainers

[ruff] Enable auto fix for ruff (#3268)
  .pre-commit-config.yaml
  pyproject.toml
Owners: @openvinotoolkit/nncf-maintainers

Add memory_logs directory to .gitignore (#3281)
  .gitignore
Owners: @openvinotoolkit/nncf-maintainers

[PT2] no use gradient for building graph (#3278)
  nncf/experimental/torch2/function_hook/graph/build_graph_mode.py
  nncf/experimental/torch2/function_hook/graph/graph_utils.py
  tests/torch2/data/function_hook/graph_visualization/to_pydot_style_full.dot
  tests/torch2/data/function_hook/handle_inner_functions/inner_functions_BatchNormModel.dot
  tests/torch2/data/function_hook/handle_inner_functions/inner_functions_MultiHeadAttention.dot
  tests/torch2/data/function_hook/handle_inner_functions/inner_functions_ReluModel.dot
  tests/torch2/function_hook/graph/test_build_graph_mode.py
  tests/torch2/function_hook/nncf_graph/test_layer_attributes.py
Owners: @openvinotoolkit/nncf-maintainers

Fix: GPTQ fails with per-channel int4 compression. (#3285)
  nncf/quantization/algorithms/weight_compression/gptq.py
  tests/openvino/native/quantization/test_weights_compression.py
Owners: @openvinotoolkit/nncf-maintainers

[TESTS] Make a common entry point for conformance tests (#3265)
  tests/post_training/README.md
  tests/post_training/conftest.py
  tests/post_training/data/ptq_reference_data.yaml
  tests/post_training/experimental/sparsify_activations/model_scope.py
  tests/post_training/experimental/sparsify_activations/pipelines.py
  tests/post_training/experimental/sparsify_activations/test_sparsify_activations_conformance.py
  tests/post_training/model_scope.py
  tests/post_training/pipelines/base.py
  tests/post_training/pipelines/image_classification_base.py
  tests/post_training/pipelines/lm_weight_compression.py
  tests/post_training/test_quantize_conformance.py
Owners: @openvinotoolkit/nncf-maintainers

t
  .github/dependabot.yml
Owners: @openvinotoolkit/nncf-maintainers
